[user]
	name = Tim McEwan
	email = tim@mcewan.it
[core]
	excludesfile = /Users/tim/.gitignore_global
	editor = $EDITOR -w
	ignorecase = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[push]
	default = current
[rerere]
	enabled = true
[url "https://github.com/"]
	insteadOf = git://github.com/
[branch]
	autosetupmerge = true
	autosetuprebase = remote
[merge]
	defaultToUpstream = true
[alias]
	bd = branch -D
	rh = reset --hard
	edit = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; $EDITOR `f`"
	cb = checkout -b
	ps = push -u
	rv = remote -v
	pl = !git fetch -p && git rebase -p
	pr = "!f() { git remote -v | grep origin -m 1 | cut -d":" -f2 | cut -d"/" -f1 ; }; g() { git symbolic-ref --short HEAD ; }; hub pull-request -h `f`:`g`"
	um = !git branch -r --no-merged | grep -v HEAD | xargs -L1 git --no-pager log --abbrev-commit --pretty=tformat:'%Cgreen%d%Creset | %h | %an | %Cred%ar%Creset' -1 | column -t -s '|'
	l = log --graph --oneline --decorate
	fa = "!for r in $(git remote); do echo \">>> fetching remote \\\"$r\\\"\" && git fetch --prune --tags $r; done"
[credential]
	helper = osxkeychain
[diff]
	algorithm = patience
	compactionHeuristic = true
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
# [pager]
# 	log = diff-highlight | less
# 	show = diff-highlight | less
# 	diff = diff-highlight | less
# [interactive]
# 	diffFilter = diff-highlight
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
# [color "diff-highlight"]
# 	oldNormal = red bold
# 	oldHighlight = red bold 52
# 	newNormal = green bold
# 	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
